.card-img-top{
    width: 18rem;
  }
  body{
    background-color: rgb(255, 255, 255);
  }
 
  .btn{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 115, 0);
    color: black;
  }
  .btn:hover{
    background-color: rgb(255, 115, 0);
    border: 2px solid rgb(255, 115, 0);
    transition-duration: 0.4s;
  }
  .nav-link{
    color: black;
  }
  .navbar-brand  {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }